html {
	background-color: #ccc;
	margin: -5px;
	font-family: verdana;
	font-size: 11px;
}
.top {
	background-color: #ddd;
	padding: 5px 10px 7px 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.bottom {
	background-color: #ddd;
	margin-top: 5px;
	padding: 5px 10px 5px 10px;	
}

.file { color: #000; font-weight: bold;}
.func_type { color: #000; font-weight: bold;}
.func_name { color: #875A8F; font-weight: bold;}
.params { color: #000; font-weight: bold;}
.params_definition { color: #444; }
.return { color: #000; font-weight: bold;}
.return_type { color: #444; }